<div class="nav-container" [class.nav-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="nav-toolbar">
    <mat-toolbar-row>

      <span>Friend Ship</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">

        <a href="#" mat-button>
          Matches
        </a>
        <a href="#" mat-button>
          Friend list
        </a>
      </div>
      <span class="fill-remaining-space"></span>
      <app-login></app-login>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>


  </mat-toolbar>

  <mat-sidenav-container class="nav-side-container" fxFlexFill>
    <mat-sidenav #sidenav position="end">
      <mat-nav-list>
        <a href="#" mat-list-item>
          Matches
        </a>
        <a href="#" mat-list-item>
          Friend lists
        </a>
        <a href="/login" mat-list-item>
          Login
        </a>
        <a href="/register" mat-list-item>
          Register
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!--Need to change to fit nav component criteria for filtering by gender-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<div ng-app="testApp" ng-controller="testCtrl as test">
  <select name="" id="" ng-model="test.filterByGender" ng-change="test.setFlag(test.filterByGender)">
    <option value="">By Gender</option>
    <option value="female">Female</option>
    <option value="male">Male</option>
  </select>
  <table>
    <tr ng-repeat="subject in test.subjects |filter:{gender:test.filterByGender}:test.flag">
      <td>{{subject.gender}}</td>
    </tr>
  </table>


</div>
