.fill-remaining-space {
  flex: 1 1 auto;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-is-mobile .nav-toolbar {
  position: fixed;
  z-index: 2;
}

.nav-side-container {
  flex: 1;
}

.nav-is-mobile .nav-side-container {
  flex: 1 0 auto;
}

.usrpwd {
  font-size: 12px;
  padding-right: 15px;
}

.example-full-width {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
  outline: thin;
  outline-color: white;
}
